@media (min-width: 1024px) {
    .itemDetail {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: 40px auto;
        background-color: #fff;
        padding: 20px;
        width: fit-content;
    }
}

@media (max-width: 1023px) {
    .itemDetail {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        margin: 40px auto;
        background-color: #fff;
        padding: 40px;
        width: fit-content;
    }
}

.itemDetail img {
    width: 500px;
}

.itemDetail p {
    color: #bbbbbb;
    font-size: .7em;
}

.itemDetail h2 {
    line-height: 1em;
    margin-bottom: 10px;
    color: rgb(48, 48, 48);
    font-size: 1.6em;
    font-weight: 500;
}

.itemDetail h3 {
    color: #8c3c96;
    font-size: 1.3em;
    font-weight: 500;
}