@media (min-width: 1024px) {
    .itemDetail {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: 40px auto;
        background-color: #fff;
        padding: 20px;
        width: fit-content;
    }
}

@media (max-width: 1023px) {
    .itemDetail {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        margin: 40px auto;
        background-color: #fff;
        padding: 40px;
        width: fit-content;
    }
}

.itemDetail img {
    width: 500px;
}

.itemDetail p {
    max-width: 400px;
    color: #868686;
    font-size: 1em;
    font-weight: 300;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10%;
}

.itemDetail h2 {
    line-height: 1em;
    margin-bottom: 10px;
    color: rgb(48, 48, 48);
    font-size: 1.6em;
    font-weight: 500;
}

.itemDetail h3 {
    color: #8c3c96;
    font-size: 1.3em;
    font-weight: 500;
}

.counter {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.counter p {
    font-size: 1em;
    color: #000;
    margin: 0px 10px;
    font-weight: 500;
}

.btnCart {
    cursor: pointer;
    border: none;
    width: 1.5em;
    height: 1.5em;
    background-color: #bbbbbb;
    border-radius: 100%;
}

.btnCart:hover {
    background: #9c9c9c;
}

.btnCart:active {
    background: #dfdfdf;
}

.btnAddToCart {
    border: none;
    cursor: pointer;
    font-size: .8em;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin: 0px;
    margin-left: 15px;
}

.btnAddToCart:hover {
    background-color: #8c3c96;
}

.btnAddToCart:active {
    background-color: #54245b;
}

.btnToCart {
    border: none;
    cursor: pointer;
    font-size: .8em;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin: 0px;
    margin-top: 15px;
}

.btnToCart:hover {
    background-color: #8c3c96;
}

.btnToCart:active {
    background-color: #54245b;
}