* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  color: rgb(54, 54, 54);
}
.errorMsg {
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  color: rgb(61, 61, 61);
}
a {
  color: #8c3c96;
}
a:hover {
  color: #ffc904;
}