* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(54, 54, 54);
}

button {
  background-color: #8c3c96;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 8px 5px;
  font-size: .7em;
}

button:hover {
  background-color: #a848b4;
  cursor: pointer;
}

button:active {
  background: #72307a;
}